{% load static %}

<link rel="stylesheet" href="{% static 'css/layout.css' %}">

<footer class="rodape" id="rodape">
    <div class="rodape-conteudo">
        <div class="rodape-logo">
            <img src="https://jc.uol.com.br/img/logo.svg" alt="Jornal do Commercio" class="logo-imagem">
            <h3 class="rodape-redes-titulo">Jornal do Commercio</h3>
        </div>

        <div class="rodape-redes-sociais">
            <a href="https://www.facebook.com/jornaldocommercio" target="_blank" class="icone-social icone-facebook" aria-label="Facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/jornaldocommercio" target="_blank" class="icone-social icone-instagram" aria-label="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://twitter.com/jornalcommercio" target="_blank" class="icone-social icone-twitter" aria-label="Twitter">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 29 35" fill="none">
                    <path d="M11.1514 7.90039L11.1807 7.9375L15.4121 13.2725L20.6582 7.92969L20.6875 7.90039H22.4531L22.2861 8.07031L16.2012 14.2676L23.0781 22.9375L23.207 23.0996H17.8936L17.8633 23.0625L13.2607 17.2607L7.55859 23.0703L7.5293 23.0996H5.76172L5.92871 22.9297L12.4717 16.2666L5.96289 8.0625L5.83496 7.90039H11.1514ZM18.5391 21.8662H20.6084L10.5049 9.13086H8.43555L18.5391 21.8662Z" fill="#33363F" stroke="#33363F" stroke-width="0.2"/>
                </svg>
            </a>
            <a href="https://www.linkedin.com/company/jornal-do-commercio" target="_blank" class="icone-social icone-linkedin" aria-label="LinkedIn">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://www.youtube.com/@jornaldocommercio" target="_blank" class="icone-social icone-youtube" aria-label="YouTube">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="https://www.tiktok.com/@jornaldocommercio" target="_blank" class="icone-social icone-tiktok" aria-label="TikTok">
                <i class="fab fa-tiktok"></i>
            </a>
        </div>
    </div>
    <div class="rodape-links">
        <div class="rodape-coluna">
            <h3>Canais</h3>
            <ul>
                <li><a href="{% url 'index' %}">Últimas Notícias</a></li>
                <li><a href="#colunas">Colunas</a></li>
                <li><button class="btn-feedback-footer" onclick="abrirModalFeedback()">Envie seu Feedback</button></li>
            </ul>
        </div>

        <div class="rodape-coluna">
            <h3>Institucionais</h3>
            <ul>
                <li><a href="#quem-somos">Quem Somos</a></li>
                <li><a href="https://www.jcpm.com.br/sustentabilidade/" target="_blank">Práticas ASG JCPM</a></li>
                <li><a href="https://ne10.uol.com.br/privacidade/" target="_blank">Privacidade</a></li>
                <li><a href="#melhores-praticas">Melhores Práticas</a></li>
                <li><a href="#lgpd">LGPD</a></li>
                <li><a href="#publicacoes">Publicações</a></li>
                <li><a href="#expediente">Expediente</a></li>
                <li><a href="#fale-conosco">Fale Conosco</a></li>                <li><a href="https://sjcc.gupy.io/" target="_blank">Trabalhe Conosco</a></li>
            </ul>
        </div>

        <div class="rodape-coluna">
            <h3>Serviços</h3>
            <ul>
                <li><a href="#noticias-whatsapp">Notícias pelo WhatsApp</a></li>
                <li><a href="#newsletter">Newsletter JC</a></li>
                <li><a href="#publicidade-legal">Publicidade Legal</a></li>
                <li><a href="https://ads.sjcc.com.br/?utm_source=jc_site&utm_medium=bt_anuncie_conosco&utm_campaign=anuncie_aqui_rodape&_gl=1*2yvvs*_ga*NzAwNTE0NTM1LjE3NTUyNjUzOTc.*_ga_S1QTC8L49Z*czE3NjE2NTkyMjMkbzI2JGcxJHQxNzYxNjYwNzk5JGoyOCRsMCRoMA.." target="_blank">Anuncie Conosco</a></li>
            </ul>
        </div>

        <div class="rodape-coluna">
            <h3>Aplicativos</h3>
            <ul>
                <li><a href="#app-jc">Jornal do Commercio</a></li>
                <li><a href="#app-radio">Rádio Jornal</a></li>
            </ul>
        </div>
    </div>

    <div class="rodape-grupo-jcpm">
        <p class="rodape-grupo-texto">Jornal @ 2025 - Uma empresa do grupo JCPM</p>
        <p class="rodape-licenciamento">PARA SOLICITAÇÃO DE LICENCIAMENTO, CONTACTAR EDITORES@NE10.COM.BR</p>
        <img src="https://imagens.ne10.uol.com.br/jcpm/logo_jcpm_footer.svg" alt="Grupo JCPM" class="marca-grupo-jcpm">
    </div>
</footer>